---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Never
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<revenant/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '.*'
    Priority: 3
SortIncludes: CaseSensitive
SpaceBeforeParens: ControlStatements
Standard: c++20
